<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="nav">
        <%- include('partials/nav'); %>
    </div>

    <div class="wrapper">
        <button class="button_prev">Last</button>
        <button class="button_next">Next</button>
        <div class="main">

        </div>
    </div>


    <script src="./js/frontView.js"></script>
</body>

</html>